.about-container {
    width: 100%;
    max-width: 1010px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .about-content {
    width: 90%;
    max-width: 1010px;
    flex-direction: row;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0rem 1rem 1rem 1rem; 
    margin-top: 10rem;
  }

  .about-header {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 5rem;
  }

  .about-image{
    /* background-image: url('../assets/pixel-me.png'); */
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
  }
  
  .about-title {
    font-size: 1.8rem;
    text-align: right;
    margin: 6rem 0 4rem 0;
    
  }
  .titulo3{
    font-size: 1.6rem;
  }

  .texto {
    font-size: 1.2rem;
  }

  @media screen and (min-width: 1010px) {
    .about-content {
      width: 80%;
      
    }
  

  }